.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
}
.nav-links{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap:1rem;

}
.nav-links li{
  margin: 0;
}
.nav-links a{
  text-decoration: none;
  color: wheat;
  gap:1rem;
}